<div>
    <h1>Este es tu carrito</h1>
    <div id="cart">
        {{#each cart}}
        <p>title: {{this.title}}</p>
        <img src={{this.thumbnail}} alt="">
        <p>price: {{this.price}}</p>
        <p>quantity: {{this.quantity}}</p>
        <hr>
        {{/each}}
    </div>
</div>
<script src="/js/cart.js"></script>